html,
.map-m {
  height: 100%;
  max-width: 100%;
  padding: 5;
  margin: 5;
}

body{
    height: 100%;
    max-width: 100%;
    padding: 5;
    margin: 5;
    background-color: dimgrey;
}

.map-f {
    height: 100%;
    max-width: 100%;
    padding: 5;
    margin: 5;
    display: none;
}

#mtitle {
    display:block;
    color: lightskyblue;
}
#map-id-m {
    display: block;
    width: 100%;
}

#map-id-f {
    display:none;
    width: 100%;
}
#fbtitle {
    display: none;
    color: lightskyblue;
}

.panel {
    border: 0;
    background-color: dimgrey;
}
.panel-body {
    border: 0;
    background-color: dimgrey;
}
.panel-heading {
    border: 0;
    background-color: dimgrey;
}
.panel-default {
    background-color: dimgrey;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 35px;
}
p{
    font-size: 30px;
}
img{
    width: 100%;
}
footer{
    color:lightskyblue;
    font-weight: bolder;
}
a{
    color:white;
}