html,
body,
.map-m {
  height: 100%;
  max-width: 100%;
  padding: 5;
  margin: 5;
}

.map-f {
  height: 100%;
  max-width: 100%;
  padding: 5;
  margin: 5;
  display: none;
}


#mtitle {
  display:block;
}
#map-id-m {
  display: block;
}

#map-id-f {
  display:none;
}
#fbtitle {
  display: none;
}