<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charstet="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Meteorites and Fireballs Map Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- D3 library -->
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <!-- Leaflet JavaScript code -->
        <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
        integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
        crossorigin=""></script>
        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
        <!-- Our CSS -->
        <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    </head>

    <body>
        <div class="jumbotron text-center" style="background-color:black; color:white; width:100">
            <div class="container">
                <h1>Mapped Sightings</h1>
                <a href="/" class="btn btn-info btn-lg" role="button">Home</a>
                <a href="/data" class="btn btn-info btn-lg" role="button">Data</a>
            </div>
        </div>

        <!-- The div that holds our map -->

        <div class="row"
            <div id="column1" class="col-md-auto">
                <div class="panel panel-default" style="width:100%; height:1000px; float:left; margin-left: 10px; background-color:black; color:white;">
                    <div class="panel-heading text-center" style="background-color:black; color:white; width:100"><b><font size = "7" font color ="lime">Meterorite Landings</font></b></div>
                    <div class= "panel-body">
                        <div id="map-id" style="width:100%; height:900px;"></div>
                        <script type="text/javascript" src="map.meterorite.js"></script>
                    </div>
                </div>        
            </div>
        </br>
        </div>

        <div class="row"
            <div id="column2" class="col-md-auto">
                <div class="panel panel-default" style="width:100%; height:900px; float:left; margin-left: 10px; background-color:black; color:white;">
                    <div class="panel-heading text-center" style="background-color:black; color:white; width:100"><b><font size = "7" font color ="lime">Fireballs</font></b></div>
                    <div class= "panel-body">
                        <script type="text/javascript" src="logic.js"></script>
                    </div>
                </div>        
            </div>
        </br>
        </div>
        <!-- Our JavaScript file -->
        <!-- <script type="text/javascript" src="static/js/logic.js"></script> -->
    </body>    
</html>